{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "ts-react-important-stuff",
    "plugin:prettier/recommended",
		"prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off"
  }
}
//json-server --watch --port 3003 --host 127.0.0.1 db.json
